body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 75vh;
  height: 75vh;
  outline: 1px dotted white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.frame {
  width: 30%;
  height: 50%;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}

.card-one {
  position: relative;
  top: -2%;
  left: 15%;
  rotate: -25deg;
  background-color: darkblue;
  z-index: 1;
}

.card-two {
  position: relative;
  background-color: darkslategrey;
  z-index: 2;
}

.card-three {
  position: relative;
  top: -2%;
  right: 15%;
  rotate: 25deg;
  background-color: darkred;
  z-index: 1;
}

.frame:hover {
  scale: 2;
}

.card-one:hover {
  position: relative;
  background-color: darkblue;
  top: 0%;
  left: 32%;
  rotate: 0deg;
  background-image: url("./data/cat1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
}

.card-two:hover {
  position: relative;
  background-color: darkslategrey;
  background-image: url("./data/cat2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
}

.card-three:hover {
  position: relative;
  top: 0%;
  right: 32%;
  rotate: 0deg;
  background-color: darkred;
  background-image: url("./data/cat3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
}
